/*
 * @Author: wdy
 * @Date: 2019-08-13 15:52:31
 * @Last Modified by: wdy
 * @Last Modified time: 2020-11-24 14:05:33
 */
@import '../../styles/configs/index.less';
@import '../../styles/mixins/index.less';

.container {
  width: 100vw;
  height: 100vh;
  background-color: @as-black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .bg-container {
    width: inherit;
    height: inherit;

    background-repeat: no-repeat;
    background-position: top center, right center, bottom center, left center;
    background-size: initial;

    .flex-center();
    .login-container {
      flex-direction: column;
      width: 730px;
      height: 500px;

      background-repeat: no-repeat;
      background-position: 120px top;
      background-size: initial;

      .flex-center();
    }
  }
}

.form {
  width: 350px;
  height: 160px;
  .flex-center();
}
