/*
 * @Author: wdy 
 * @Date: 2019-08-20 17:23:23 
 * @Last Modified by: wdy
 * @Last Modified time: 2019-11-26 11:32:17
 */
.box-shadow-sm(@box-shadow-color) {
  box-shadow: 0 0 5px 0 @box-shadow-color;
}
.box-shadow-md(@box-shadow-color) {
  box-shadow: 0 0 10px 0 @box-shadow-color;
}
.box-shadow-lg(@box-shadow-color) {
  box-shadow: 0 0 20px 0 @box-shadow-color;
}